In [1]:
import numpy as np
import pandas as pd

In [2]:
from utils.data_loader import DataLoader

In [5]:
df = DataLoader.load_csv_data(dataset_type='train', lang='en')

In [6]:
df.head()

,index,claims,text_tokens,claim_idx,claim_vector
0,500,[],"['#VAERS', '17y', '♂', '️', '#Pfizer', '#Covid...",set(),"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,501,"[{'start': 0, 'end': 29}, {'start': 33, 'end':...","[""We've"", 'truly', 'come', 'a', 'long', 'way',...","{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,502,"[{'start': 8, 'end': 16}]","['Fuck', 'that', '.', 'Its', 'not', 'faux', 'o...","{8, 9, 10, 11, 12, 13, 14, 15}","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1]"
3,503,"[{'start': 7, 'end': 21}]","['@U55750420', 'Which', '...', 'makes', 'no', ...","{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."
4,504,"[{'start': 8, 'end': 18}, {'start': 23, 'end':...","['Fact', 'or', 'Fiction', ',', 'you', 'decide'...","{8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 23, 24,...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, ..."